n8n/ocr-workflow.json
{
  "name": "Business Card OCR Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "ocr",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// 이미지 URL을 OCR 서비스로 전송\nreturn {\n  imagePath: $input.item.json.imageUrl\n};"
      },
      "name": "Prepare OCR Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://localhost:3000/api/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "imagePath",
              "value": "={{ $json.imagePath }}"
            }
          ]
        }
      },
      "name": "Call OCR Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// GPT 요약을 위한 프롬프트 준비\nreturn {\n  text: JSON.stringify($input.item.json.extracted_info)\n};"
      },
      "name": "Prepare GPT Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://localhost:3000/api/summarize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "name": "Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "business_cards",
        "columns": "image_path,extracted_info,summary,sentiment_score",
        "additionalFields": {}
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare OCR Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OCR Request": {
      "main": [
        [
          {
            "node": "Call OCR Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OCR Service": {
      "main": [
        [
          {
            "node": "Prepare GPT Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GPT Request": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}