workflows/ocr-summary/workflow.json
{
  "name": "OCR-to-Summary-Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-document",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "ocr",
        "endpoint": "={{$node.Webhook.json[\"visionEndpoint\"]}}",
        "language": "ko",
        "binary": true,
        "additionalFields": {
          "model": "vision-latest"
        }
      },
      "id": "google-vision-ocr",
      "name": "Google Vision OCR",
      "type": "n8n-nodes-base.googleCloudVision",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "googleApi": {
          "id": "google-cloud-credentials",
          "name": "Google Cloud"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "model": "gpt-4",
        "prompt": "=다음 텍스트는 명함에서 OCR로 추출한 내용입니다. 비즈니스 맥락에서 중요한 정보를 3-4문장으로 요약해주세요:\n\n{{$node[\"Google Vision OCR\"].json[\"text\"]}}",
        "options": {
          "temperature": 0.3,
          "maxTokens": 200
        }
      },
      "id": "gpt-summary",
      "name": "GPT Summary",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "analyzeSentiment",
        "text": "={{$node[\"GPT Summary\"].json[\"text\"]}}",
        "language": "ko"
      },
      "id": "sentiment-analysis",
      "name": "Sentiment Analysis",
      "type": "n8n-nodes-base.googleCloudNaturalLanguage",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "googleApi": {
          "id": "google-cloud-credentials",
          "name": "Google Cloud"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "business_cards",
        "columns": {
          "user_id": "={{$node.Webhook.json[\"userId\"]}}",
          "image_path": "={{$node.Webhook.json[\"imagePath\"]}}",
          "raw_text": "={{$node[\"Google Vision OCR\"].json[\"text\"]}}",
          "summary": "={{$node[\"GPT Summary\"].json[\"text\"]}}",
          "sentiment_score": "={{$node[\"Sentiment Analysis\"].json[\"score\"]}}",
          "extracted_info": "={{$node[\"Google Vision OCR\"].json[\"extracted\"]}}",
          "status": "completed",
          "processed_at": "={{$now}}"
        }
      },
      "id": "supabase-insert",
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "channel": "={{$node.Webhook.json[\"notificationChannel\"]}}",
        "text": "=명함 처리 완료!\n\n요약: {{$node[\"GPT Summary\"].json[\"text\"]}}\n\n감성 분석 점수: {{$node[\"Sentiment Analysis\"].json[\"score\"]}}"
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vision OCR": {
      "main": [
        [
          {
            "node": "GPT Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Summary": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["OCR", "AI", "Database"],
  "triggerCount": 1
}